



.tdnum {
    text-align:center;
    display: table-cell;
    font-size: 30px;
    width:150px;
    height: 80px;
      font-family: 'Ranchers', cursive;
    letter-spacing: 6px;
    font-size: 20px;  
    border-width: thick;
    border-bottom-style: dashed;
    border-width: inherit;
    border:3px  double white; 
    position: relative;
    table-layout: fixed;
    float: none;
    overflow: hidden;
   
}

.imgg{
    padding-left: 50px;
    width: 100px;
    height: 70px;
    vertical-align: middle;

    position: absolute;
}